* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 10px;
}

.burgerMenuIcon {
    display: none;
}

header {
    padding: 30px 20px;
    color: white;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.heroImg {
    width: 300px;
}

.heroTag, a, .closeBtn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.heroTag {
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, max-content);
}

li {
    text-transform: uppercase;
    font-weight: 500;
    list-style-type: none;
    padding: 5px 15px;
}

li.contact{
    background-color: DeepPink;
    font-weight: 800;
}

a:visited {
    color: white;
}

a:hover, a:active {
    color: MediumTurquoise;
    cursor: pointer;
}

.active > a {
    color: MediumTurquoise;
}

main {
    height: 120vh;
}

footer {
    text-align: center;
}

/* Tablets/mid screen */
@media screen and (max-width: 1120px) and (min-width: 801px) {
    header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .heroImg {
        grid-row: 1 / span 2;
        justify-self: start;
    }

    nav {
        grid-column: 2 / 2;
    }

    .heroTag, nav {
        justify-self: end;
    }
}

/* Mobile/small screens */
@media screen and (max-width: 800px) {
    header {
        padding: 20px 0;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr .5fr;
    }

    .heroTag {
        grid-row: 2 / 2;
        grid-column: 1 / span 2;
    }

    nav {
        display: none;
    }

    ul {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: min-content repeat(4, 60px);
        place-items: center;
    }

    .burgerNav {
        display: block;
        transition:.5s;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #333;
    }

    ul > .closeBtn {
        display: inline !important;
        color: #888;
        margin: 20px 0;
        cursor: pointer;
        font-size: 2rem;
        border-bottom: 1px dashed #888;
    }

    .burgerMenuIcon {
        display: block;
        cursor: pointer;
        margin-right: 5px;
    }

    .burgerMenuIcon > div {
        background-color: white;
        height: 3px;
        width: 30px;
        margin: 6px 10px;
    }
}

@media screen and (max-width: 360px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr .5fr;
        padding-bottom: 0px;
    }

    .burgerMenuIcon {
        grid-row: 3 / 3;
        margin: 0;
    }
}
